body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.navbar{
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo{
    height: 75px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

ul{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

.header{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1f2937;
    padding-top: 70px;
    padding-bottom: 100px;
    gap: 20px;
}

.header-content{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    gap: 12px;
}

.signup{
    font-weight: 600;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100px;
}

.header-img{
    flex: 1;
    border-radius: 15px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.facts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}

.container{
    display: flex;
    gap: 40px;
    margin-bottom: 75px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 150px;
}
.thumbnail{
    height: 150px;
    width: 150px;
    border: #3882f6 3px solid;
    border-radius: 10px;
}

.subtext{
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
}

.quote-container{
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote-source{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
    padding-right: 30px;
}

.contactus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.contactus-container{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    width: 100%;
    border-radius: 10px;
    padding: 40px 100px;
}

.left-header{
    color: white;
    font-size: 18px;
    font-weight: 650;
    padding-bottom: 3px;
}

.left-info{
    color: #e5e7eb;
    font-size: 14px;
}

.right-text{
    font-weight: 600;
    margin-top: 12px;
    background-color: #3882f6;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100px;
}

.footer{
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}